@page "/datavise"
@inject DataService DataService
@using DialogueDeGestion.Models;

<PageTitle>Data Visualisation</PageTitle>

<h3>Visualisation des Données</h3>

@if (dialogues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenChart Style="width:100%;height:400px">
        <RadzenCategoryAxis>
            <RadzenCategoryAxisTitle Text="Série de Données" />
        </RadzenCategoryAxis>

        <RadzenValueAxis>
            <RadzenValueAxisTitle Text="Montant Commandé" />
        </RadzenValueAxis>

        <RadzenBarSeries Data="@barChartData" CategoryProperty="Category" ValueProperty="Value" />
    </RadzenChart>
}

@code {
    private List<Dialogue> dialogues;
    private List<ChartData> barChartData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dialogues = await DataService.GetAllDialoguesAsync();
            SetupChartData();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private void SetupChartData()
    {
        barChartData = dialogues
            .GroupBy(d => d.DGSERIEDEDONNEES)
            .Select(g => new ChartData
            {
                Category = g.Key, // Utiliser la série de données comme catégorie
                Value = g.Sum(d => (double)d.DGMONTANTCOMMANDE)
            })
            .ToList();
    }

    public class ChartData
    {
        public string Category { get; set; }
        public double Value { get; set; }
    }
}
